@font-face {
  font-family: "Timeless Sans";
  src: url("./TimelessSansVF.woff2") format("woff2");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Timeless Serif";
  src: url("./TimelessSerifVF.woff2") format("woff2");
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-timeless-sans: "Timeless Sans", sans-serif;
  --font-timeless-serif: "Timeless Serif", serif;
}
