@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-timeless-sans);
  --font-serif: var(--font-timeless-serif);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(26.9% 0 none);
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}

@theme {
  --color-muted: oklch(55.6% 0 none);
  --color-rule: oklch(0.9461 0 0);
}
